@charset "UTF-8";
@import "mixin.scss";
@import url('https://fonts.googleapis.com/css?family=Roboto');
$griRenk:#646464;
$SayfaBaslikArkaPlanRengi:#2c3e50;
$SayfaBaslikRengi:#e74c3c;
$SayfaBaslikYuksekligi:35px;
$standartFormFontBoyutu: 13px;
$KompleSolAlan:23%;
html{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x:hidden;
  overflow-y: visible;
}
/**{
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}*/
body{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  overflow-x: hidden;
  overflow-y: visible;
  font-family: fontAilesi();
  color: $griRenk;
  background-color: #f9f9f9;
  line-height: 1.5;
  font-size: 13px;
}

@mixin animasyonEfektiOpacity(){
  -webkit-animation-name: bounce-in;
  -moz-animation-name: bounce-in;
  -o-animation-name: bounce-in;
  animation-name: bounce-in;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
  animation-duration: 600ms;
}


.bounce-enter-active {
  @include animasyonEfektiOpacity;

}
.bounce-leave-active {
  @include animasyonEfektiOpacity;
}
@keyframes bounce-in {
  0% {
    opacity: 0.2;

  }
  50% {
    opacity: 0.6;
  }
  75%{
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}

*:focus{
  outline:none;
}
section{
  width: 100%;
  height: auto;
  text-align: center;
}
.TamSayfaKapsamaAlani {
  position: relative;
  width: 100%;
  height: auto;
  display: block;
  padding: 0;
  margin: 0 auto;
  overflow: hidden;
  border: none;
  outline: none;
  background-color: #f9f9f9;

  .TamSayfaSinirlamaAlani {
    position: relative;
    display: block;
    width: 1065px;
    height: auto;
    margin: 0 auto;
    padding: 0;
    border: none;
    outline: none;
  }

  .UstHeaderMesajAlani {
    width: 1065px;
    height: 40px;
    display: block;
    padding: 0;
    margin: 0 auto;
    overflow: hidden;
    border: none;
    outline: none;
    background-image: linear-gradient(#999, black);

    img {
      display: block;
      width: 100%;
      height: 40px;
      margin: 0 auto;
      padding: 0;
      overflow: hidden;
      text-align: center;
      vertical-align: middle;
    }
  }

  .AltHeaderMenulerAlani {
    display: block;
    width: 100%;
    height: 25px;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
    text-align: center;
    background-color: #2980b9;
    margin-top: 2px;

    ul.MenulerAlani {
      font-weight: 600;
      @include baglantiEtiketiSifirla(a) {
        & > li {
          @include gecisEgrisi();
        }
        &:hover > li {
          @include gecisEgrisi(600ms);
          color: #2c3e50;
          font-weight: 600;
        }

      }
    ;
      width: 50%;
      float: right;
      margin-right: 7px;
      text-align: right;
      margin-top: 0;

      li {
        margin-top: 2px;
        display: inline-block;
        color: white;
        margin-left: 10px;

        img {
          display: inline-block;
          width: 16px;
          height: 16px;
          vertical-align: middle;
          margin-right: 2px;
          margin-top: -3px;

        }
      }

      @extend .AltHeaderMenulerAlani
    }
  }

  .MenulerLogoveMenuAlani {
    display: inline-block;
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
    background-color: transparent;
    margin-top: 10px;

    .SolLogoKapsamaAlani {
      position: relative;
      display: inline-block;
      width: 195px;
      float: left;
      margin: 0 auto;
      padding: 0;
      overflow: hidden;
      text-align: left;

      .SolLogoSinirlamaAlani {
        img {
          display: block;
          width: 192px;
          height: 35px;
          margin: 0 auto;
          padding: 0;
          overflow: hidden;
          vertical-align: middle;
        }

        @extend .SolLogoKapsamaAlani;
      }
    }
  }

  .SagMenulerKapsamaAlani {
    position: relative;
    display: block;
    float: right;
    width: 1065px - 195px;
    height: 35px;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
    text-align: left;
    vertical-align: top;

    .SagMenulerSinirlamaAlani {
      @extend .SagMenulerKapsamaAlani;

      .MenuListeleri {
        position: relative;
        width: auto;
        height: 35px;
        display: inline-block;
        float: right;
        margin: 0 auto;
        padding: 0;
        overflow: hidden;
        margin-left: 2px;
        line-height: 35px;
        margin-right: 7px;
        text-align: right;
        list-style: none;
        @include baglantiEtiketiSifirla(a, $griRenk);

        a {
          float: left;
          font-size: 15px;
          font-weight: 600;
          margin-left: 20px;
          @include gecisEgrisi();

          &:hover {
            @include gecisEgrisi();
            color: #a4b0be;
          }
        }
      }
    }
  }

  footer {
    position: relative;
    float: left;
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;

  }

  .FooterKapsamaAlani {
    display: block;
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 20px;
    overflow: hidden;
    background-color: #2c3e50;
    color: white;
    border: 1px solid #2980b9;
    text-align: center;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;

    .FooterSinirlamaAlani {
      position: relative;
      float: left;
      width: calc(100% / 4);
      height: auto;
      display: inline-block;
      margin: 0 auto;
      padding: 0;
      overflow: hidden;
      text-align: left;
      vertical-align: top;
      text-align: center;

      .FooterListeBolumlemeAlani {
        display: block;
        width: 100%;
        height: auto;
        margin: 0 auto;
        padding: 0;
        overflow: hidden;
        text-align: left;
        vertical-align: top;

        .FooterBolumBaslikKapsamaAlani {
          @extend .FooterListeBolumlemeAlani;

          .ListeBaslikAlani {
            display: block;
            width: 100%;
            height: auto;
            padding: 0;
            border: none;
            outline: none;
            font-size: 15px;
            margin-left: 29px;
            margin-top: 5px;
            font-weight: 600;

            .Animasyon {
              width: 0%;
              display: block;
              height: 2px;
              background-color: #27ae60;
              @include gecisEgrisi();
            }

            &:hover .Animasyon {
              @include gecisEgrisi();
              width: 55%;

            }
          }
        }

        .Listelemeler {
          display: block;
          width: auto;
          height: auto;
          margin: 0 auto;
          padding: 0;
          overflow: hidden;
          margin-left: 29px;
          list-style: none;
          @include baglantiEtiketiSifirla(a) {
            color: #2980b9;
            margin: 12px 0px;
            font-size: 14px;
            & > li {
              img {
                display: inline-block;
                width: 16px;
                height: 16px;
                vertical-align: middle;
                margin-right: 4px;
                margin-top: -2px;

              }

              padding: 3px 0px;
              @include gecisEgrisi();

              &:hover {
                @include gecisEgrisi();
                color: #1abc9c;
              }
            }
          }
        }
      }
    }
  }

  .FooterGizlilikAlani {
    display: block;
    width: auto;
    height: auto;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
    color: #2c3e50;
    font-size: 15px;
    text-align: center;
    margin-top: 1px;
  }

  .AnaSayfaSectionBaslik {
    position: relative;
    display: block;
    width: calc(100% - 17px);
    height: $SayfaBaslikYuksekligi;
    left: -1px;
    border: none;
    outline: none;
    padding: 0;
    overflow: hidden;
    text-align: left;
    line-height: $SayfaBaslikYuksekligi;
    font-size: 18px;
    padding: 5px 0 5px 15px;
    background-color: $SayfaBaslikArkaPlanRengi;
    color: $SayfaBaslikRengi;
    margin: 2px 2px 0px 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: 0 0px 15px black;
    -moz-box-shadow: 0 0px 15px black;
    box-shadow: 0 0px 15px black;
    z-index: 98;
    margin-bottom: 0px;
  }

  .AnaSayfaIcerik {
    display: block;
    width: calc(100% - 22px);
    height: auto;
    margin: 0 auto;
    padding: 10px;
    overflow: hidden;
    font-size: 14px;
    z-index: 98;
    // border: 1px solid #CCC;
    background-color: #78909C;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    color: #2c3e50;
    .TabloBaslikDuzenlemesi{

      text-align: left;
      padding-left: 5px;
      font-size: 15px;
      border-bottom: 1px solid #CCC;
      color: #fff;
    }
    .ResimOptimize{
      display: block;
      width: 25*2px;
      height: 25*2px;
      float: left;
      vertical-align: top;

    }

    .TabloIcerikDuzenlemesi{
      text-align: left;
      padding-left: 5px;
      color: #fff;
      font-weight: 600;
      padding-top: 5px;
      padding-bottom: 5px;
      border-bottom: 1px solid #CCC;
      border-right: 1px solid #CCC;

    }
    /*SAYFALAMA ALANİ*/
    .SayfalamaKapsamaAlani{
      position: relative;
      display: block;
      width: 100%;
      height: auto;
      margin: 0 auto;
      padding: 0;
      overflow: hidden;
      text-align: center;
      outline: none;
      color: initial;
      margin-top: 15px;
      .SayfalamaSinirlamaAlani{
        display: block;
        width: 100%;
        height: auto;
        margin: 0 auto;
        padding: 0;
        overflow: hidden;
        text-align: center;
        .Sayfalama{
          display: inline-block;
          width: auto;
          height: auto;
          margin: 0 auto;
          padding: 0;
          overflow: hidden;
          text-align: center;
          border: none;
          outline:none;
          border: 1px solid #CCC;
          padding:4px 11px 4px 10px;
          background-color: #009688;
          border-radius: 3px;
          cursor: pointer;
          color: #fff;
          margin-right: 3px;
          @include baglantiEtiketiSifirla(a);
          @include gecisEgrisi();
          &:hover{
          background-color: #004D40;
          cursor: pointer;


          }



        }

        .SayfalamaPasif{
          background-color: #FFA000;
          &:hover{
            background-color: #FFA000;
          }
        }

      }

    }


  .PuanlamaBaslik{
    display: block;
    float: left;
    width: 15%;
    height: auto;
    margin:0 auto;
    padding: 0;
    overflow: hidden;
    padding-top: 6px;
    padding-bottom: 0px;
    margin-bottom: 2px;
    font-size: 15px;
    color: #f9f9f9;
    border-bottom: 1px dotted #2c3e50;

  }

  .PuanlamaListeleri{
    display: block;
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
    text-align: left;
    list-style: none;
    padding-left: 15px;
    margin-bottom: 20px;
    .Puanlamalar{
      display: inline-block;
      float: left;
      margin-right: 7.4%;
      @include baglantiEtiketiSifirla(){
        img{
          display:inline-block;
          width: auto;
          height: auto;
          margin: 0 auto;
          padding: 0;
          overflow: hidden;
        }
        input[type=radio]{
          margin-left: calc(50% - 6px);
          border: none;
          outline: none;
        }
      };
    }



  }

















  } /*ANA SAYFA İÇERİK END */
  .SolGeriDonButton{
    position: relative;
    display: block;
    width: auto;
    height: auto;
    margin: 0;
    padding: 0;
    overflow: hidden;
    float: left;
    text-align: left;
    font-weight: 600;
    color:#ecf0f1;
    @include baglantiEtiketiSifirla(){
      color:#ecf0f1;
      &:hover{
        text-decoration: underline;
      }
    }
  }


  .StandartBaslikAlani{
    display: block;
    width: calc(100% - 10px);
    height: auto;
    margin:0 auto;
    padding: 0;
    overflow: hidden;
    text-align: left;
    font-size: 17px;
    color: #f5f5f5;
    background-color: #e74c3c;
    padding: 5px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
  }

  .AdreslerKapsama{
    display: block;
    width: calc(100% - 0px);
    height: auto;
    margin:0 auto;
    padding: 0;
    overflow: hidden;
    text-align: left;
    background-color: #2c3e50;
    color: #FFF;
    margin-top: 10px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    font-weight: 600;
    font-size: 16px;
    padding-bottom: 20px;
    .AdreslerSinirlamaAlani{
      display: block;
      width: auto;
      height: auto;
      margin:0 auto;
      padding: 0;
      overflow: hidden;
      text-align: left;
      border-bottom: 1px solid #d1ccc0;

    }
    .AdreslerSolAlan{
      position: relative;
      display: inline-block;
      float: left;
      width: 82%;
      height: auto;
      margin: 0 auto;
      padding: 0;
      overflow: hidden;
      text-align: left;
      background-color: #2c3e50;
      .AdreslerSolAlanBaslik{
        width: 100%;
        height: auto;
        margin: 0 auto;
        padding: 0;
        overflow: hidden;
        color: #2980b9;
        margin-top: 10px;
        margin-left: 10px;
        font-size: 18px;
        margin-bottom: 5px;
        border-bottom: 4px solid #e67e22;

      }
      .AdreslerListeleme{
        position: relative;
        display: block;
        float: left;
        width: 100%;
        height: auto;
        list-style-type: none;
        text-align: left;
        margin-left: -30px;
        margin-top: 0px;
        @include baglantiEtiketiSifirla(){
          color: #2f69be;
          font-weight: 600;
          @include gecisEgrisi();
          &:hover{
            @include gecisEgrisi();
            color: #b1cae5;
          }
        };
        .AdresDegeleri{
          position: relative;
          display: block;
          float: left;
          width: 100%;
          height: 24px;
          list-style-type: none;
          text-align: left;
          font-size: 14px;
          margin-bottom: 3px ;


        }
      }
    }

    .AdreslerSagAlan{
      position: relative;
      display: inline-block;
      float: right;
      width: 18%;
      height: auto;
      margin: 0 auto;
      padding: 0;
      overflow: hidden;
      text-align: center;
      background-color: #2c3e50;
      margin-right:0px;
      .AdreslerSagAlanBaslik{
        position: relative;
        float: right;
        width: calc(100% - 10px);
        height: auto;
        margin: 0 auto;
        padding: 0;
        overflow: hidden;
        color: #2980b9;
        margin-top: 10px;
        font-size: 18px;
        margin-right: 10px;
        margin-bottom: 5px;
        border-bottom: 4px solid #e67e22;
        text-align: left;
        @include baglantiEtiketiSifirla(){
          color: inherit;
        }


      }
      .AdreslerListeleme{
        position: relative;
        display: block;
        float: right;
        width: calc(100% - 57px);
        height: auto;
        list-style-type: none;
        text-align: right;
        margin-right: 52px;
        margin-top: 0px;
        padding: 5px;
        margin-top: -8px;


        @include baglantiEtiketiSifirla(a){
          display:inline-block;
          height: auto;
          margin: 0 auto;
          float: left;
          overflow: hidden;
          text-align:right;
          margin-right: 5px;
          .AdresDegeleri{
            position: relative;
            display: block;
            float: right;
            width: 100%;
            height: auto;
            list-style-type: none;
            text-align: left;
            font-size: 14px;

          }
        }
      }

      .AdresButtonSecenekleriKolon{
        position: relative;
        float: left;
        display: block;
        width: 100%;
        height: auto;
        margin:0 auto;
        padding: 0;
        overflow: hidden;
        margin-top: 3px;

        .GuncelleSpan{
          vertical-align: top;
          margin-right: 5px;
          font-size: 15px;
        }
        .SilSpan{
          vertical-align: top;
          font-size: 15px;
        }
        img{
          display: block;
          float:left;
          width: 18px;
          height: 18px;
          margin: 0 auto;
          padding: 0;
          overflow: hidden;
        }

      }

    }
  }



  .BankaHesapBilgileriKapsamaAlani {
    display: block;
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
    text-align: center;
    vertical-align: top;
    background-color: inherit;

    .BankaHesapBilgileriSinirlamaAlani {
      margin-left: 3px;

      h3 {
        margin: 0;
        padding: 0;
        margin: 2px;
        margin-bottom: 7px;
        color: inherit;
      }

      @extend .BankaHesapBilgileriKapsamaAlani;

      .BankaHesapBilgileri {
        position: relative;
        float: left;
        display: block;
        width: calc(100% / 3 - 30px);
        height: auto;
        margin: 0 auto;
        padding: 10px;
        border: 1px solid #CCC;
        border-radius: 2px;
        overflow: hidden;
        margin-right: 8px;
        background-color: #2980b9;
        margin-bottom: 8px;


      }

      .BankaResimLogosuKapsamaAlani {
        width: 100%;
        height: 15px;
        margin: 0 auto;
        padding: 0;
        overflow: hidden;
        text-align: center;

        img {
          display: block;
          width: auto;
          height: 15px;
          margin: 0 auto;
        }
      }

      .BankaHesapIcinSiraliBilgiler {
        display: block;
        width: 100%;
        height: auto;
        margin: 0 auto;
        padding: 0;
        overflow: hidden;
        margin-top: 10px;
        margin-bottom: 5px;
        border-bottom: 1px solid #CCC;

        .BankaIleIlgiliBilgiAlani {
          position: relative;
          display: inline-block;
          width: 100px;
          height: 15px;
          font-size: 14px;
          vertical-align: top;
          color: #2c3e50;
          font-weight: bold;

        }

        .BankaIleIlgiliBilgiDegeri {
          display: inline-block;
          width: auto;
          height: auto;
          margin: 0 auto;
          padding: 0;
          overflow: hidden;
          margin-left: 5px;
          font-size: 13px;
          margin-top: 2px;
          color: #fff;
          text-align: right;
          direction: rtl;
        }
      }
    }
  }

  .SolHavaleBildirimFormukapsama {
    position: relative;
    float: left;
    display: block;
    width: calc(49% - 0px);
    height: auto;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
    text-align: left;
    background-color: transparent;

    .BaslikAltiAciklamaSatisi {
      display: block;
      float: left;
      width: calc(100% - 2px);
      height: auto;
      margin: 0 auto;
      padding: 0;
      font-size: 16px;
      border-bottom: 1px dotted #CCC;
      text-align: left;
      font-family: fontAilesi();
    }

    .HavaleFormAlani {
      position: relative;
      float: left;
      display: block;
      width: calc(100% - 2px);
      height: auto;
      margin: 0 auto;
      padding: 0;
      overflow: hidden;
      margin-top: 10px;
    }

    .FormSatirInputlari {
      display: block;
      width: 100%;
      height: auto;
      margin: 0 auto;
      padding: 0;
      overflow: hidden;

      .FormMetinBasligi {
        display: block;
        width: auto;
        height: auto;
        margin: 0 auto;
        padding: 0;
        font-weight: 600;
        color: #fff;
        letter-spacing: 0.2px;
        margin-left: 1px;
      }

      .InputAlanlari {
        @include InputAlanlari;

      }

      .SelectAlanlari {
        @include SelectAlanlari;
      }

      .TextAreaAlanlari {
        @include TextAreaAlanlari;
      }

      .StandartGonderbuttonu {
        @include StandartGonderbuttonu(#F5F5F5, #03A9F4);
      }

    }
  }

  .SagHavaleBildirimFormukapsama {
    @extend .SolHavaleBildirimFormukapsama;
    display: inline-block;
    float: left;
    .BaslikAltiAciklamaSatisiIsleyis {
      width: calc(100% - 10px);
      display: block;
      margin-left: 10px;
      margin-top: -5px;
      font-family: fontAilesi();
      color: #d1ccc0;
      font-size: 19px;
      border-bottom: 1px dotted #CCC;
      margin-bottom: 15px;

    }

    .HavaleIsleyisAlani {
      position: relative;
      display: block;
      width: calc(100% - 7px);
      height: auto;
      margin: 0 auto;
      padding: 0;
      overflow: hidden;
      margin-left: 10px;

      .KontrolSatirAlani {
        display: block;
        width: 100%;
        height: auto;
        margin: 0 auto;
        padding: 0;
        overflow: hidden;
        text-align: left;
        vertical-align: top;
        margin-bottom: 15px;

        .KontrolResimveBaslikAlani {
          display: block;
          width: 100%;
          height: auto;
          margin: 0 auto;
          padding: 0;
          overflow: hidden;
          text-align: left;
          vertical-align: top;

          & > img {
            display: inline-block;
            vertical-align: top;
            width: 20px;
            height: 20px;
            overflow: hidden;
            padding-bottom: 5px;
            border-bottom: 1px solid coral;
          }

          .KontrolBaslikMetini {
            display: inline-block;
            width: auto;
            height: auto;
            margin: 0 auto;
            text-align: left;
            margin-left: 2px;
            font-size: 17px;
            margin-top: -3px;
            overflow: hidden;
            padding-bottom: 2px;
            border-bottom: 2px solid #34495e;
          }

          .SatirMetini {
            display: block;
            width: 100%;
            height: auto;
            margin: 0 auto;
            padding: 0;
            color: #f7f1e3;


          }
        }
      }
    }
  }

  .BildirimSayfasiKapsamaAlani{
    position: relative;
    display: block;
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
    text-align: center;
    font-size: 14px;
    color: #FFF;
    img.BildirimResim{
      display: block;
      width: 100px;
      height: 100px;
      margin: 0 auto;
      padding: 0;
      overflow: hidden;
      margin-top: 7%;
      margin-bottom: 1%;
      vertical-align: top;
      text-align: center;
    }
    .BildirimMesajAlanlari{
      display: block;
      width: 100%;
      height: auto;
      margin: 0 auto;
      padding:0;
      overflow: hidden;
      text-align:center;
      .BildirimBaslikAlani::first-letter{
        display: block;
        width: auto;
        height: auto;
        margin: 0 auto;
        padding: 0;
        border: none;
        overflow: hidden;
        text-align: center;
        font-size: 15px;
      }
      .BildirimAciklamaAlani{
        display: block;
        width:auto;
        height: auto;
        margin: 0 auto;
        padding:0;
        overflow: hidden;
        text-align:center;
        line-height: 1.2;
        @include baglantiEtiketiSifirla(a){
          text-decoration:underline;
          @include gecisEgrisi();
          &:hover{
            @include gecisEgrisi();
            color: #34495e;
          }
        };
      }

    }
  }

  .KargomAlani{
    position: relative;
    display: block;
    float: left;
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
    border: none;
    padding: 20px 0px;
    .KargoResimAlani{
      display: block;
      width: 100px;
      height: 100px;
      margin: 0 auto;
      margin-top: 15px;
      margin-bottom: 10px;
      img{
        display: block;
        width: 100px;
        height: 100px;
        margin: 0 auto;
      }
    }

    .KargoBilgilendirme{
      display: block;
      margin: 0 auto;
      text-align: center;
      font-size: 20px !important;
      font-style: italic;
      margin-bottom: -15px;
    }

    .KargoNumaraKutusu{
      display: block;
      width: 30%;
      height: auto;
      margin: 0 auto;
      text-align: center;
    .InputAlanlari{
      @include InputAlanlari;
    }

      .StandartGonderbuttonu{
        @include StandartGonderbuttonu(){
          width: 100% ;
        };
      }
    }
  }
  .soru{
    display: block;
    width: 100%;
    height: auto;
    margin: 0 auto;
    text-align: left;
    font-size: 16px;
    color: black;
    border-bottom: 1px dotted #2c3e50;
    padding-bottom: 0px;
    padding-top: 4px;
    overflow: hidden;
    vertical-align: top;
  }
  .cevap{
    display: none;
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
    text-align: left;
    margin-top: 5px;
    line-height: 150%;
    color: #e9ebee;
    user-select: none;
  }

  div:required{
    -webkit-box-shadow: 1px 1px 5px blue;
    -moz-box-shadow: 1px 1px 5px blue ;
    box-shadow: 1px 1px 5px blue ;
  }

  .UyeGirisButtonHizalama{
    left: 50%;
    transform: translate(-50%)
  }

  .SifremiUnuttum{
    display: inline-block;
    float:right;
    margin-right: 2px;

      @include baglantiEtiketiSifirla(){
        color: #2c3e50;
        @include gecisEgrisi();
        &:hover{
          @include gecisEgrisi();
          color: #fff;
        }
    }
  }
  .reklamResimHesabim{
    display: block;
    width: 100%;
  }

  .HesabimBilgilerimiGuncelle{
    display: inline-block;
    width: auto;
    height: auto;
    padding:5px 10px;
    border: 1px solid #999;
    margin: 0 auto;
    overflow: hidden;
    background-color: #1b5e20;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    margin-top: 5px;
    @include gecisEgrisi();
    &:hover{
      cursor: pointer;
      background-color: #5e2c2f;
      @include gecisEgrisi();
    }
    @include baglantiEtiketiSifirla()
  }
}

.HesabimSayfasiUstMenu{
  display: block;
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
  text-align: center;
}
.UstMenuKapsamaAlani{
  display: block;
  width: calc(100% - 2px);
  height: auto;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
  text-align: center;
  float: left;
  list-style: none;
  outline: none;
  padding-left: 2px;
  @include baglantiEtiketiSifirla(a){
    float: left;
    color: initial;
    outline: none;
    width: auto;
    height: auto;
    width: calc(20% - 5px);
    text-align: center;
    margin-right: 5px;
    &>.UstMenuler{
      display: inline-block;
      width: 90%;
      height: auto;
      border: 1px solid #CCC;
      margin-top: 5px;
      margin-bottom: 5px;
      padding: 10px;
      background-color: #2c3e50;
      color: #FFF;
      font-size: 14px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
      outline: none;
      text-align: center;
      @include gecisEgrisi();
      &:hover{
        background-color: #182030;
        @include gecisEgrisi();
        outline: none;
        box-shadow:0px 0px 5px #e74c3c;
      }
    }
  }
}
.active{
  color: red;
  background-color: red;
}

.GirisSayfasi{
  display: block!important;
  background-color:initial !important;
  margin: 0 !important;
  padding: 0!important;
  border: 0!important;
  outline: 0!important;
}
.KompleSolAlan{
  position:relative;
  display:block;
  float: left;
  width: $KompleSolAlan;
  height: auto;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
  background-color: transparent;
  text-align: left;
}

.AnaSayfaSolMenulerAlani{
  display:block;
  float: left;
  width: calc(100% - 10px);
  height: auto;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
  background-color: transparent;
  text-align: left;
  padding:5px;
}

.AnaSayfaSolMenuBaslikAlani{
  display: block;
  width: calc(100% - 20px);
  height: auto;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
  text-align: left;
  background-color: #b6b6b6;
  padding: 10px;
  color: #fff;
  font-weight: 600;

}

.AnaSayfaSolMenulerSinirlamaAlani{
  position: relative;
  display:block;
  width: 100%;
  margin:0 auto;
  padding:0;
  overflow: hidden;
  float: left;
  list-style: none;
  text-align: left;
  font-weight: 600;
  margin-top: 8px;
  @include baglantiEtiketiSifirla(){
    color: black;
  };
  .AnaSayfaSolMenuler{
    display: block;
    width: calc(100% - 5px);
    height: auto;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
    text-align: left;
    font-size: 15px;
    font-weight: 600;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 5px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    cursor: pointer;
    @include gecisEgrisi(400ms);
    &:hover{
    @include gecisEgrisi(400ms);
      background-color: #eeeeee;
      cursor: pointer;

    }

  }
}



.ReklamlarSolKapsamaAlani{

  @extend .AnaSayfaSolMenulerAlani;
  margin-top:12px;
  .ReklamBasligi{
    @extend .AnaSayfaSolMenuBaslikAlani;
    -webkit-border-radius: initial;
    -moz-border-radius: initial;
    border-radius: initial;
  }
  .ReklamResimYoluVeBilgileri{
    display:block;
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
    vertical-align: top;
  }
}


.AnaSayfaUrunlerAlani{
  position: relative;
  float: left;
  display: block;
  width: (100% - $KompleSolAlan);
  height: auto;
  margin: 0 auto;
  padding-bottom: 0;
  overflow:hidden ;
  text-align: center;
}

.UrunAramaAlani{
  display: block;
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding-bottom: 0;
  overflow: hidden;
  float: left;
  background-color: transparent;
}

.FormInputAramaAlani{
  float: left;
  display:block;
  width: 95%;
  height: auto;
  margin: 0 auto;
  padding:0;
  overflow: hidden;
  text-align: center;
  margin-top: 5px;
  user-select: all;
}



.AramaAlaniInputu{
  display: block;
  width: calc(100% - 7px);
  height: auto;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
  text-align: left;
  padding-left: 5px;
  padding-top: 7px;
  padding-bottom: 7px;
  border: none;
  outline:none;
  background-color: transparent;
  border:1px solid #CCC;
  border-radius:2px;
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
  color: #342321;
  font-weight: 400;
  font-size: 15px;
}

.FormGonderButtonu{
  display: block;
  float: left;
  width: calc(5% - 2px);
  height: auto;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
  margin-top: 5px;
  margin-left: 2px;
  @include gecisEgrisi(500ms);
  &:hover{
    @include gecisEgrisi(500ms);
    background-color: #dddddd;
  }
}

.AramaAlaniButtonu {
  display: block;
  float: left;
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
  border: none;
  outline: none;
  border:1px solid #CCC;
  line-height: 31px;
  background: url("../Resimler/AraButonuIciBuyuteci.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 55%;

  border-radius: 2px;
}


.AnaSayfaUrunlerAlaniSinirlama{
  position: relative;
  display: block;
  width: 100%;
  height: auto;
  margin:0 auto;
  padding: 0;
  overflow: hidden;
  text-align: center;
  list-style: none;
  background-color: transparent;
  margin-top: 50px;
}

.AnaSayfaUrunlerAlaniUrunKutulari{
  position: relative;
  display: block;
  float: left;
  width: calc(25% - 3px);
  height: auto;
  margin:0 auto;
  padding: 0;
  overflow: hidden;
  text-align: center;
  @include baglantiEtiketiSifirla(){
  };
  margin-right: 2px;
}

.UrunResimi{
  display: block;
  width: 100%;
  height: 100%;
  margin:0 auto;
  padding: 0;
  overflow: hidden;
  img{
    display: block;
    width: 100%;
    height: 200px;
    margin:0 auto;
    padding: 0;
    overflow: hidden;
  }
}


.UrunBaslik{
  display: block;
  width: 100%;
  height: auto;
  margin:0 auto;
  padding: 0;
  overflow: hidden;
  text-align: center;
  font-weight: 600;
  font-size: 15px;
  margin-top: 10px;
  color: tomato !important;
  margin-bottom: 7px;
}

.UrunMetini{
  display: block;
  width: 100%;
  height: auto;
  margin:0 auto;
  padding: 0;
  overflow: hidden;
  text-align: center;
  font-weight: 600;
  font-size: 13px;
  color: #a4a4a4 !important;
  margin-bottom: 7px;
}


.UrunPuanlamasi{
  display: block;
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
  text-align: center;
  vertical-align: top;
  margin-top: 2px;
  margin-bottom: 5px;
  img{
    display: block;
    width: auto;
    height: auto;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
    text-align: center;
    vertical-align: top;
  }
}

.UrunFiyati{
  display: block;
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
  text-align: center;
  color: #011fc6 !important;
  font-weight: 600;
}
.UrunDetay{
  background-color: #FFF !important;
  margin-top: 15px !important;
}
.UrunDetayKapsamaAlani{
  position: relative;
  float: left;
  display:block;
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding: 0;
  overflow:hidden;
  text-align: center;
  background-color: transparent;
}

$UrunDetayFotoraflariBoyutu: 37%;
.UrunDetaySolUrunFotograflariAlani{
  display:block;
  float: left;
  width: $UrunDetayFotoraflariBoyutu;
  height: auto;
  margin:0 auto;
  padding: 0;
  overflow: hidden;
  text-align: center;
}

.UrunDetaySolUrunFotograflari{
  display: block;
  width: 100%;
  height: auto;
  margin:0 auto;
  padding: 0;
  overflow: hidden;
  text-align: center;
  vertical-align: top;
  background-color: transparent;
}

.UrunDetayDevResimAlani{
  display: block;
  width: calc(100% - 3px);
  height: 450px;
  margin:0 auto;
  padding: 0;
  overflow: hidden;
  text-align: center;
  vertical-align: top;
  background-color: transparent;
  border: 1px solid #CCC;
  img{
    display: block;
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding:0;
    overflow:hidden;
    vertical-align:top;
    background-color: transparent;
  }
}

.UrunDetayDortluResimler{
  float: left;
  display:block;
  width: 100%;
  height: auto;
  margin:0 auto;
  padding: 0;
  overflow: hidden;
  text-align: center;
}

.UrunDetayResimleri{
  display: inline-block;
  float: left;
  width:calc(25% - 5px);
  height: 112px;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
  text-align: center;
  vertical-align: top;
  border:1px solid #CCC;
  margin-right: calc(1% / 2);
  margin-left: 1px;
  margin-top: 5px;
  cursor: pointer;
  img{
    display: block;
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
    text-align: center;
  }
}

.UrunDetaySayfasiReklamAlani{
  position: relative;
  float: left;
  display: block;
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
  background-color: transparent;
  margin-top: 10px;
}

.UrunDetayReklamBasligi{
  display: block;
  width: calc(100% - 20px);
  height: auto;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
  text-align: left;
  padding-left: 5px;
  background-color: #b6b6b6;
  padding: 10px;
  color: #fff;
  font-weight: 600;

}
.UrunDetayReklam{
  display: block;
  width: 100%;
}

.UrunDetaySagAlan{
  position: relative;
  float: right;
  display: block;
  width: (100% - $UrunDetayFotoraflariBoyutu);
  height: auto;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
  text-align: center;
  vertical-align: top;
  background-color: transparent;
}
.UrunDetaySagSinirlamaAlani{
  @extend .UrunDetaySagAlan;
  width: calc(100% - 10px) !important;
  height: auto;
  padding: 5px;
}

.UrunDetaySagUrunBasligiAlani{
  position:relative;
  display: block;
  width: calc(100% - 17px);
  height: auto;
  margin:0 auto;
  padding: 0;
  overflow: hidden;
  text-align: left;
  padding: 10px 10px 10px 7px;
  background-color: #f1f1f1;
  font-weight: 600;
  font-size: 15px;
  color: #2c3e50;
}

.UrunDetaySepetVeSosyalAlan{
  display: block;
  width: 100%;
  height: auto;
  margin:0 auto;
  padding: 0;
  overflow: hidden;
  text-align:center;
  vertical-align: top;
  margin-top: 10px;
  background-color: #fff;
}
$sosyalAlanGenislikDegeri:100 + 'px';


.UrunDetaySosyalAlan{
  position: relative;
  display: block;
  float: left;
  width: $sosyalAlanGenislikDegeri;
  height: auto;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
  text-align: left;
  vertical-align: top;
  margin-top: 6px;
  @include baglantiEtiketiSifirla(){
    img{
      display: inline-block;
      float: left;
      width: 24px;
      height: 24px;
      margin-right: 7px;
    }
  }
}

.UrunDetaySepeteEkle{
  position: relative;
  display: block;
  float: right;
  width: calc(100% - 100px);
  height: auto;
  margin: 0 auto;
  padding:0;
  overflow: hidden;
  text-align: center;
  vertical-align: top;
}

.SepeteEkleButtonu{
  display: block;
  width: 100%;
  float: right;
  height: auto;
  margin: 0 auto;
  padding:0;
  overflow: hidden;
  text-align: center;
  vertical-align: top;
  border: none;
  outline:none;
  padding: 10px;
  font-size: 15px;
  background-color: #329dff;
  color: #fff;
  @include gecisEgrisi();
  &:hover{
    cursor: pointer;
    background-color: #2f69be;
  }
}


.UrunVaryant{
  position: relative;
  float: left;
  display: block;
  width: 100%;
  height: auto;
  margin:0 auto;
  padding: 0;
  overflow: hidden;
  text-align: center;
  vertical-align: top;
  margin-top: 10px;
  margin-bottom: 10px;
}

.VaryantSelecti{
  display: block;
  float: left;
  width: 65%;
  height: auto;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
  text-align: center;
  border: none;
  outline:none;
  text-align: left;
  font-size: 15px;
  background-color: rgba(234, 234, 234, 0.32);
  padding: 7px;
  border: 1px solid #CCC;
  vertical-align: top;
}

.UrunDetayUrunFiyati{
  display: block;
  width: calc(100% - 70%);
  height: auto;
  margin:0 auto;
  padding: 0;
  overflow: hidden;
  text-align: center;
  font-size: 21px;
  margin-top: 3px;
  float:right;
  text-align: right;
  margin-right: 10px;
  color: black;
  font-weight: 600;

}

.UrunDetayHakkındaBilgilendirme{
  display: block;
  width: calc(100% - 20px);
  height: auto;
  margin:0 auto;
  padding: 0;
  overflow: hidden;
  background-color: #fff;
  padding: 10px;
  text-align: left;
  list-style:none;
  .UrunDetayBilgilendirme{
    display: block;
    width: 100%;
    height: auto;
    margin:0 auto;
    padding: 0;
    overflow: hidden;
    text-align: left;
    font-size: 15px;
    color: #646464;
    margin-bottom: 5px;
    img{
      display: block;
      width: 20px;
      height: 20px;
      margin: 0 auto;
      padding: 0;
      overflow: hidden;
      vertical-align:top;
      float: left;
      margin-right: 10px;
    }
  }
}


.UrunDetayAciklamasi{
  display: block;
  width: 100%;
  height: auto;
  margin:0 auto;
  padding: 0;
  overflow: hidden;
  text-align: center;
  background-color: transparent;
}

.UrunDetayAciklamaBasligi{
  display:block;
  width: calc(100% - 10px);
  height: auto;
  margin:0 auto;
  padding: 5px;
  overflow: hidden;
  text-align: left;
  background-color: rgba(65, 95, 67, 0.71);
  font-weight: 600;
  color:#FFF;
}
.UrunAciklamasi{
  display: block;
  width: calc(100% - 6px);
  height: auto;
  max-height: 400px;
  margin:0 auto;
  padding: 5px 3px;
  overflow-x:hidden;
  overflow-y:auto;
  text-align: left;
  font-size: 15px;
  color: #646464;
  margin-bottom: 5px;
}
.UrunDetayYorumBasligi{
  @extend .UrunDetayAciklamaBasligi;
  margin-bottom: 5px;
}

.UrunYorumlariKapsamaAlani{
  display: block;
  width: 100%;
  height: auto;
  margin:0 auto;
  padding: 0;
  overflow:hidden;
  text-align: left;
  background-color: transparent;

}

.UrunYorumu{
  position: relative;
  display: block;
  width: calc(100% - 12px);
  height: auto;
  margin: 0 auto;
  padding: 0;
  overflow-x:hidden;
  overflow-y:auto;
  vertical-align: middle;
  text-align: left;
  border: 1px solid #5c5c5c;
  margin-bottom: 5px;
  padding: 5px;
  img{
    float: left;
    width: 64px;
    height: 11px;
    margin:0 auto;
    padding: 0;
    overflow: hidden;
    vertical-align: bottom;
    margin-top:5px;
    margin-right: 5px;
  }
  @include baglantiEtiketiSifirla(){
    color: #464646;
    &:hover{
      text-decoration:underline;
    }

    color: red;
  }
  .YorumTarigi{
    display: block;
    float: right;
    width: auto;
    height: auto;
    margin:0 auto;
    padding: 0;
    overflow: hidden;
  }

  .UrunYorumMetni{
    display: block;
    width: 100%;
    height: 150px;
    margin: 0 auto;
    padding:0;
    overflow: hidden;
    text-align: left;
    line-height: 20px;
    margin-top: 6px;
    overflow-x:hidden;
    overflow-y:auto;
  }

}


//Alişveris Sepeti Bicimlendirmeleri

.AlisverisSepetiKapsamaAlani{
  position:relative;
  display:block;
  width: calc(100% - 10px);
  height: auto;
  margin:0 auto;
  paddin:0;
  overflow: hidden;
  text-align:center;
  vertical-align: top;
  padding:5px;
  background-color: #ffffff;
}

.AlisverisSepetiSinirlamaAlani{
  @extend .AlisverisSepetiKapsamaAlani;
}


.AlisverisSepetiSolUrunlerAlani{
  float: left;
  display:block;
  width: 75%;
  height: auto;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
  text-align: center;
  vertical-align: top;
  background-color: #ffffff;

}

.AlisverisSepetiBaslik{
  display:block;
  float: left;
  width: calc(100% - 3px);
  height: auto;
  margin: 0 auto;
  padding: 3px;
  text-align: left;
  margin-top: 7px;
  margin-bottom: 7px;
  color: tomato;
  font-size: 15px;
  font-weight: bold;
}
.AlisverisSepetiBaslikAciklamasi{
  @extend .AlisverisSepetiBaslik;
  font-size: 14px;
  color: #646464;
  margin-top: 0px;
  border-bottom: 1px dashed #646464;
  padding-bottom: 20px;
}

.AlisverisSepetiUrunlerListesiSinirlamaAlani{
  float: left;
  display:block;
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
  text-align: center;
  background-color: transparent;
  padding-bottom: 10px;

}

.AlisverisSepetiUrunKapsamaAlani{
  float: left;
  display:block;
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
  text-align: center;
  background-color: transparent;
  border-bottom: 1px dashed #646464;

}
.AlisverisSepetiUrunResmi{
  position: relative;
  float: left;
  display: block;
  width: 50px;
  width: 50px;
  margin:0 auto;
  padding:0;
  overflow: hidden;
  text-align: center;
  vertical-align: top;
  margin-top: 10px;
  margin-bottom: 10px;
  img{
    display: block;
    width: 50px;
    width: 50px;
    margin:0 auto;
    padding:0;
    overflow: hidden;
    text-align: center;
    vertical-align: top;
  }
}

.AlisverisSepetiUrunSilResmi{
  float: left;
  display: block;
  width: 20px;
  height: 20px;
  margin:0 auto;
  padding: 0;
  overflow: hidden;
  margin-top: 35px;
  margin-left: 25px;
  @include baglantiEtiketiSifirla(){
    img{
      display: block;
      width: 20px;
      height: 20px;
      margin:0 auto;
      padding: 0;
      overflow: hidden;
      vertical-align: top;
    }
  }
}

.AlisverisSepetiUrunBasligi{
  display: block;
  float: left;
  width: 25%;
  height: auto;
  margin:0 auto;
  padding: 0;
  overflow: hidden;
  margin-top: 25px;
  font-size: 14px;
  vertical-align: top;
  margin-left: 20px;
  text-align: left;
  .AlisverisSepetiUrunVaryanti{
    display: block;
    float: left;
    width: auto;
    height: auto;
    margin:0 auto;
    padding: 0;
    overflow: hidden;
    text-align: left;
    vertical-align: top;
  }
}

.Temizle{
  clear: both;
}

.AlisverisSepetiAzaltButtonuAlani{
  display: block;
  float: left;
  width:20px;
  height:20px;
  margin:0 auto;
  padding: 0;
  overflow: hidden;
  vertical-align: top;
  margin-left: 30%;
  margin-top: 34px;
  @include baglantiEtiketiSifirla(){
    img{
      display: block;
      width:20px;
      height:20px;
      margin:0 auto;
      padding: 0;
      overflow: hidden;
      vertical-align: top;
    }
  }
}

.AlisverisSepetiSepettekiArttirilmisVeyaAzaltilmisUrunSayisi{
  display: block;
  float: left;
  width:35px;
  height:20px;
  margin:0 auto;
  padding: 0;
  overflow: hidden;
  vertical-align: top;
  margin-left: 1%;
  margin-top: 34px;
  font-weight: 600;
  font-size:14px;
}

.AlisverisSepetiArttirButtonuAlani{
  @extend .AlisverisSepetiAzaltButtonuAlani;
  margin-left: 1%;
}

.AlisverisSepetiUrunFiyatlariVeDigerFiyatlariAlani{
  float: right;
  display: block;
  width: auto;
  height: auto;
  margin:0 auto;
  padding: 0;
  overflow: hidden;
  margin-top: 23px;
  margin-right: 5px;
}
.AlisverisSepetiUrunBirimiFiyati{
  display:block;
  float:right;
  text-align: right;
  width: auto;
  height: auto;
  margin: 0 auto;
  padding: 0;
  font-size: 14px;
  font-weight: 600;
  color: #646464;
  overflow: hidden;
}

.AlisverisSepetiUrunBirimlerininiToplamFiyati{
  @extend .AlisverisSepetiUrunBirimiFiyati;
}


.AlisverisSepetiSagTutarveBilgiAlani{
  position: relative;
  display: block;
  float: right;
  width: 25%;
  height: auto;
  margin:0 auto;
  padding: 0;
  overflow: hidden;
  text-align: center;
  background-color: transparent;
  @include baglantiEtiketiSifirla();
}
.AlisverisSepetiSagTutarSinirlamaAlani{
  @extend .AlisverisSepetiSagTutarveBilgiAlani;
  width: 100% !important;
}

.AlisverisSepetiSagBaslikAlani{
  @extend .AlisverisSepetiBaslik;
  float: right;
  text-align: right;
}

.AlisverisSepetiSagTutarDetaylari{
  @extend .AlisverisSepetiBaslikAciklamasi;
  float: right;
  font-size: 13px;
  padding-bottom: 22px;
  text-align: right;
  span{
    color: #a51d45;
    font-weight: 600;
  }
}
.AlisverisSepetiSagOdenecekTutarBilgilendirmesi{
  float: right;
  display: block;
  width: 100%;
  height: auto;
  text-align: right;
  color: #646464;
  font-size: 14px;
  overflow: hidden;
  margin-bottom: 5px;

}

.AlisverisSepetiSagOdenecekTutarDegeri{
  @extend .AlisverisSepetiSagOdenecekTutarBilgilendirmesi;
  color: #2a2a2a;
  font-size: 25px;
}

.AlisverisSepetiSagDevamEtButtonuAlani{
  position: relative;
  display: block;
  float: right;
  width: calc(70% - 5px);
  height: 15px;
  margin:0 auto;
  padding: 0;
  overflow:hidden;
  texta-align:center;
  background-color: rgba(255, 99, 71, 0.74);
  padding-top:7px;
  padding-bottom:12px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  @include gecisEgrisi();
  img{
    display:inline-block;
    width: 21px;
    height: 20px;
    padding: 0;
    overflow: hidden;
    z-index:100;
  }
  .KargoAdresSecimiFormButton{
    display: inline-block;
    width: auto;
    height: auto;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: center;
    border: none;
    outline: none;
    background-color: initial;
    font-size: 16px;
    line-height: 15px;
    top: -10px;
    vertical-align: top;
    margin-top: 4px;
    margin-left: 3px;
    cursor: pointer;
    color: #5e5e5e;

  }
  span{
    font-size: 15px;
    vertical-align: top;
    margin-top: 1px;
    margin-left: 7px;
  }
  &:hover{
    @include gecisEgrisi();
    background-color: tomato;

  }


}

//Alişveris Sepeti Bicimlendirmeleri



.AdresSecimleriKapsamaAlani{
  position: relative;
  display:block;
  width: 100%;
  height: auto;
  margin:0 auto;
  padding: 0;
  overflow: hidden;
  text-align: center;
  vertical-align: top;
  background-color: transparent;
  margin-top: 10px;
}

.AdresSecimiBaslikAlani{
  display:block;
  width: calc(100% - 20px);
  height: auto;
  margin:0 auto;
  padding: 0;
  overflow: hidden;
  text-align: left;
  padding:7px;
  border: 1px solid #816761;
  border-radius: 4px;
  .AdresSecimiBasligi{
    display: inline-block;
    float: left;
    width: auto;
    height: auto;
    overflow: hidden;
    font-size: 15px;
    color: #000;
    text-align: left;
  }
  .YeniAdresEkleAlani{
    display: inline-block;
    float: right;
    width: auto;
    height: auto;
    text-align: right;
    font-size: 14px;
    margin-top: 1px;
    @include baglantiEtiketiSifirla(a){
      color:initial;
    }
  }
}


.AdreslerAlani{
  display: block;
  float: left;
  width: calc(100% - 20px);
  height:auto;
  margin:0 auto;
  padding: 0;
  overflow: hidden;
  text-align: left;
  background-color: #f9fbe7;
  padding: 10px;
  margin-top: 5px;
  .Adresler{
    display: block;
    width: calc(100% - 20px);
    height: auto;
    margin:0 auto;
    padding: 0;
    overflow: hidden;
    padding: 10px;
    text-align: left;
    float: left;
    border: 1px solid #CCC;
    margin-bottom: 3px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    input[type=radio]{
      border: none;
      outline: none;
      vertical-align: top;
    }
  }

}


.KargoSecimiAlani{
  position: relative;
  display:block;
  width: 100%;
  height: auto;
  margin:0 auto;
  padding: 0;
  overflow: hidden;
  text-align: center;
  vertical-align: top;
  background-color: transparent;

}

.KargoSecimiSinirlamaAlani{
  display:block;
  width: 100%;
  height: auto;
  margin:0 auto;
  padding: 0;
  overflow: hidden;
  text-align: center;
  vertical-align: top;
  background-color: transparent;
  list-style: none;
  margin-top: 20px;
}



.Kargocular{
  float: left;
  display: block;
  width: calc(100% / 3 - 37px);
  height: auto;
  margin:0 auto;
  padding: 0;
  overflow: hidden;
  text-align: center;
  vertical-align: top;
  border: 1px solid #CCC;
  padding:25px 15px;
  margin-left: 2px;
  img{
    display: block;
    width: 156px;
    height: 30px;
    margin:0 auto;
    padding: 0;
    overflow: hidden;
    vertical-align: top;
  }
}

.AlisverisSepetiOdemeTuruSayfasiBackground{
  background: rgba(48, 65, 57, 0.41) !important;
}
.AlisverisSepetiBaslikAciklamasiOdemeTuru{
  display:block;
  width: 100%;
  height: auto;
  margin:0 auto;
  padding: 0;
  overflow: hidden;
  text-align: left;
  vertical-align: top;
  background-color: transparent;
  font-size: 14px;
  margin-top: -2px;
  color: #999;
  padding-bottom: 2px;
  border-bottom: 1px dashed grey;

}

.OdemeTuruSecimiBaslik{
  display: block;
  width:calc(100% - 7px);
  height:auto;
  margin:0 auto;
  padding:0;
  overflow: hidden;
  text-align: left;
  padding-left: 7px;
  padding-right: 0px;
  padding-top: 7px;
  padding-bottom: 7px;
  margin-top:10px;
  background-color:#2980b9;
  font-weight: 500;
  color: white;
  border-radius:3px

}

.OdemeIslemleriIcinKartlarinKapsamaAlani{
  position: relative;
  display:block;
  width: 100%;
  height: auto;
  margin:0 auto;
  padding:0;
  overflow: hidden;
  border:none;
  outline: none;
}

.KrediKartiOdemesiSecimi{
  float: left;
  display: block;
  width: calc(50% - 4px);
  height: auto;
  margin: 0 auto;
  padding:0;
  overflow: hidden;
  text-align: center;
  vertical-align: top;
  margin-top: 20px;
  border: 1px solid #78909C;
  padding-top:50px;
  padding-bottom:30px;
  margin-right: 2px;
  img{
    display: block;
    width: 92px;
    height: 75px;
    margin:0 auto;
    padding:0;
    overflow: hidden;
  }
  input[name=OdemeTuruSecimi]{
    margin-top: 20px;
  }
}



.KrediKartiOdemesiSecimi{
  float: left;
  display: block;
  width: calc(50% - 4px);
  height: auto;
  margin: 0 auto;
  padding:0;
  overflow: hidden;
  text-align: center;
  vertical-align: top;
  margin-top: 20px;
  border: 1px solid #78909C;
  padding-top:50px;
  padding-bottom:30px;
  margin-right: 2px;
  img{
    display: block;
    width: 92px;
    height: 75px;
    margin:0 auto;
    padding:0;
    overflow: hidden;
  }
  input[name=OdemeTuruSecimi]{
    margin-top: 20px;
  }
}




.BankaHavalesiOdemesiSecimi{
  @extend .KrediKartiOdemesiSecimi;
}

.KrediKartiIleOdemeBilgiAlani{
  display: block;
  float: left;
  width: 100%;
  height: auto;
  margin:0 auto;
  padding:0;
  overflow: hidden;
  text-align: left;
  vertical-align: top;
  background-color: transparent;
  padding-left: 1px;
}

.KrediKartiBilgiKutulari{
  display: block;
  float: left;
  width: calc(100% / 4 - 6px);
  height: auto;
  margin: 0 auto;
  padding:0;
  overflow: hidden;
  vertical-align: top;
  border: 1px solid #5c5c5c;
  margin-right: 4px;
  margin-top: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}


.KrediKartiIleOdemeSecimiAlani{
  display: block;
  width: 100%;
  height: auto;
  margin:0 auto;
  padding:0;
  overflow: hidden;
  text-align: left;
  vertical-align: top;
  background-color: transparent;
}

.KrediKartiOdemeBasligi{
  @extend .OdemeTuruSecimiBaslik;

}

.TaksitSecimiAciklama{
  display: block;
  width: 100%;
  height: auto;
  margin:0 auto;
  padding:0;
  overflow: hidden;
  text-align: left;
  vertical-align: top;
  color: #182030;
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 2px;
}

.TaksitSecimAlani{
  float: left;
  width: 100%;
  display:block;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
  vertical-align: top;
  text-align: center;
  padding-bottom: 5px;
  border-bottom: 1px dashed grey;
  margin-top:10px;
  input[type=radio]{
    float: left;
  }
}


.TaksitBilgilendirmesiRadioButton{
  float: left;
  display: block;
  width: calc(33.33% - 10px);
  height: auto;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
  text-align: left;
  padding-left: 5px;
}

.TaksitHesaplamaGostergesi{
  float: left;
  display: block;
  width: calc(33.33% - 10px);
  height: auto;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
  text-align: left;
}

.ToplamTutar{
  float: left;
  display: block;
  width: calc(33.33% - 10px);
  height: auto;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
  text-align: left;
}



.BankaHavalesiEFTOdemeAlani {
  display: block;
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
  text-align: left;

  .BankaHavalesiEFTBaslikAlani{
    @extend .OdemeTuruSecimiBaslik
  }
  .BankaHavalesiEFTBaslikAciklamasi{
    display: block;
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
    text-align: left;
    margin-top: 9px;
  }
}
.AlisverisSepetiKrediKartiVeBankaHavalesiveTaksitKapsamaAlani{
  position: relative;
  float:left;
  width: 100%;
  height: auto;
  margin:0 auto;
  padding:0;
  overflow: hidden;
  text-align: center;
  vertical-align: top;
}

.KrediKartiOdemeKapasamaAlani{
  position: relative;
  display:block;
  width: 100%;
  height: auto;
  margin:0 auto;
  padding:0;
  overflow: hidden;
  text-align:center;
  vertical-align: top;
}

.KrediKartiInputAlanlari{
  position:relative;
  display:block;
  width: calc(70% - 15px);
  float:left;
  height: auto;
  margin:0 auto;
  padding:0;
  overflow: hidden;
  vertical-align: top;
  text-align: left;
  margin:0px 0px 2px 5px;
  padding:5px;
}

.KrediKartiInputBilgilendirmeleri{
  display: block;
  width: 80%;
  height: auto;
  margin:0 auto;
  padding:0;
  overflow: hidden;
  text-align: left;
  font-size: 15px;
  font-weight: 600;
  margin-left: 8px;
}

.KrediKartiOdemeInputAlanlari{
  display: block;
  width: calc(100% - 30px);
  height: auto;
  margin:0 auto;
  padding:0;
  overflow: hidden;
  border: none;
  outline: none;
  border: 1px solid #324750;
  outline:none;
  margin-top: 2px;
  padding: 7px;
  @include KutuKoseleriniYuvarla();
  color: #34495e;
  font-weight: 600;
  padding-top: 8px;
}

.KrediKartiSelectAlanlari{
  display: block;
  float: left;
  width: 20%;
  height: auto;
  margin:0 auto;
  padding:0;
  overflow: hidden;
  border: none;
  outline: none;
  border: 1px solid #324750;
  outline:none;
  margin-top: 2px;
  padding: 7px;
  @include KutuKoseleriniYuvarla();
  color: #34495e;
  font-weight: 600;
  padding-top: 8px;
  margin-left: 7px;
}

.KrediKartiTuruOdemeSecimi{
  display: block;
  float: left;
  width: 30%;
}

.KrediKartiTuruBicimlendir{
  display:inline-block;
  left: 0;
  width: auto;
  height: auto;
  margin:0 auto;
  padding:0;
  overflow: hidden;
  border: none;
  outline: none;
  margin-top: 7px;
  margin-left: 7px;
  font-size: 20px;
  margin-right: 10px;
}
.KrediKartiTuruAciklamasiVisa{
  display: inline-block;
  vertical-align: top;
  margin-top: 2px;
  font-size: 15px;
  font-weight: 600;
  margin-right: -3px;
}

.KrediKartiTuruAciklamasimasterCard{
  position: relative;
  display: inline-block;
  margin-left: 0px;
  vertical-align: top;
  margin-top: 2px;
  font-size: 15px;
  font-weight: 600;
  margin-right: -3px;
}

.KrediKartiGuvenlikButtonu{
  display: block;
  float: left;
  width: calc(30% - 30px);
  height: auto;
  margin:0 auto;
  padding:0;
  overflow: hidden;
  border: none;
  outline: none;
  border: 1px solid #324750;
  outline:none;
  margin-top: 2px;
  padding: 7px;
  @include KutuKoseleriniYuvarla(2px);
  color: #34495e;
  font-weight: 600;
  padding-top: 8px;
  margin-left: 8px;
}


.KrediKartiOdemeIsleminiTamamla{
  @include StandartGonderbuttonu();
  width: 25%;
  text-align: center;
  padding-left:10px;
  font-size: 14px;
  margin-left: 8px;
}


.YeniKrediKartiEkle:active ,.YeniKrediKartiEkle:visited ,.YeniKrediKartiEkle:link{
  @include sifirla;
  display: block;
  width: calc(100% - 40px);
  color: #fff;
  font-size: 15px;
  float: left;
  text-align: left;
  margin:10px 0 10px 15px;
  background-color:#2f69be;
  padding:10px;
  @include KutuKoseleriniYuvarla(3px);
}


.AnaSayfaKapsamaAlani{
  position: relative;
  display: block;
  width: 100%;
  height: auto;
  left: 0;
  margin:0 auto;
  padding: 0;
  overflow: hidden;
  text-align: center;
  background-color:#fff;
}

.AnasayfaUstBannerAlani{
  @extend .AnaSayfaKapsamaAlani;
}

.BannerSinirlamaAlani{
  width: 100%;
  height: 187px;
  margin:0;
  padding:0;
  overflow: hidden;
  padding: 0;
  overflow: hidden;
  text-align: center;
  background-color:#dddddd;
  img{
    display: block;
    width: 100%;
    height: 187px;
    margin:0;
    padding:0;
    overflow: hidden;
    padding: 0;
    overflow: hidden;
    text-align: center;
    background-color:#dddddd;
  }
}

.UrunKategorisiDuzBaslik{
  position: relative;
  display: block;
  float: left;
  width: calc(100% - 20px);
  height: auto;
  margin:0 auto;
  padding: 0;
  overflow: hidden;
  background-color:#01579B;
  color: #fff;
  padding:10px;
  margin-top: 3px;
  @include KutuKoseleriniYuvarla();
  text-align: left;
}

.UrununFiyati{
  padding-bottom: 10px;
}

.UrununSinirlamaAlani{
  position: relative;
  float: left;
  display:block;
  width: calc(100% / 5 - 2px);
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
  text-align: center;
  vertical-align: top;
  background-color: #1f4981;
  border: 1px solid #78909C;
  margin-top: 3px;
  margin-bottom: 8px;
  @include KutuKoseleriniYuvarla();
  color: #FFF;
  border-right: none;
  border-left: none;
  margin-right: 1px;
  margin-left: 1px;
  border-top: 3px solid #1f4981;
}


.UrunKargoTeslimatHakkındaBilgilendirmeleri{
  position: relative;
  display: block;
  float: left;
  width: 100%;
  height: auto;
  margin:0 auto;
  padding: 0;
  overflow: hidden;
  background-color: #f9f9f9;
  padding: 25px 0 25px 0;
}

.BilgilendiriciKapsama{
  display: block;
  width: calc(100% / 4 );
  float: left;
  height: auto;
  margin:0 auto;
  padding: 0;
  overflow: hidden;
  margin-right: 0px;
  img{
    display: block;
    width: 75px;
    height: 75px;
    margin:0 auto;
    padding: 0;
    overflow: hidden;
    margin-bottom: 10px;
  }
  .BilgilendiriciBasligi{
    display: block;
    width: 100%;
    height: auto;
    margin:0 auto;
    padding:0;
    overflow:hidden;
    float: left;
    text-align: center;
    font-weight: 600;
    font-size: 16px;
  }
  .BilgilendiriciAciklamasi{
    display: block;
    width: 100%;
    height: auto;
    margin:0 auto;
    padding:0;
    overflow:hidden;
    float: left;
    text-align: center;
    font-size: 15px;
  }
}













